<?xml version="1.0" encoding="US-ASCII"?>
<launch>
  <arg name="robot"/>
  <arg name="bagy"/> <!-- file name of the bagy to store PsingLocation msgs -->
  <group ns="$(arg robot)">
    <node name="robot_wardrive_node" 
          pkg="robot_wardrive"
          type="robot_wardrive_node.py" 
          args="$(find robot_wardrive)/data/$(arg bagy)_signal_location.bagy"
          respawn="false" 
          output="screen"/>
    <node name="ping_google_node" 
          pkg="robot_wardrive"
          type="ping_locator_node.py" 
          args="$(find robot_wardrive)/data/$(arg bagy)_google.bagy 8.8.8.8 0.5"
          respawn="false" 
          output="screen"/>
    <node name="ping_mpc_node" 
          pkg="robot_wardrive"
          type="ping_locator_node.py" 
          args="$(find robot_wardrive)/data/$(arg bagy)_mpc.bagy 163.117.150.89 0.5"
          respawn="false" 
          output="screen"/>
  </group>
</launch>
